.yuzui-bg-dots,
.yuzui-bg-dashes {
  --color: currentColor;

  &.-use-panel {
    --panel-color: hsl(var(--yuzui-panel));
    --bg-color: hsl(var(--yuzui-primary) / 0.1);
    --color: var(--panel-color, var(--bg-color));
  }
}

.yuzui-bg-dots {
  background-image: radial-gradient(var(--color) 20%, transparent 21%),
    radial-gradient(var(--color) 20%, transparent 21%) !important;
  background-size: calc(var(--dot-size, 3px) * 2) calc(var(--dot-size, 3px) * 2) !important;
  background-position: 0 0, var(--dot-size, 3px) var(--dot-size, 3px) !important;
  background-repeat: repeat !important;
}

.yuzui-bg-dashes {
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0) 0px,
    rgba(0, 0, 0, 0) var(--dashes-gap, 3px),
    var(--color) var(--dashes-gap, 3px),
    var(--color) calc(var(--dashes-gap, 3px) + var(--dashes-width, 1px))
  ) !important;
}
