.yuzui {
  --shadow: var(--shadow-size, 4px);
  background: var(--background-color, white);
  color: var(--text-color, currentColor);
}

:is(button, a, .button).yuzui {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-touch-callout: none;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 32px;
  font-weight: 500;
  border: 1px solid currentColor;
  text-decoration: none;
  transition-property: box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 75ms;
  cursor: pointer;
  font-size: 16px;
  box-shadow: var(--shadow) var(--shadow) currentColor;

  &:is(:active, .pressed, .loading) {
    box-shadow: 0px 0px currentColor;
  }

  &:is(.loading, .pressed) {
    pointer-events: none;
  }

  &:not(.flush) {
    transform: translate(calc(-1 * var(--shadow)), calc(-1 * var(--shadow)));
  }

  &:not(.flush):is(:active, .pressed, .loading) {
    transform: translate(0);
  }

  &.flush {
    transform: translate(0);
  }

  &.flush:is(:active, .pressed, .loading) {
    transform: translate(var(--shadow), var(--shadow));
  }

  &.loading::after {
    position: absolute;
    right: 6px;
    animation: spin 1s linear infinite;
    display: inline-block;
    border-radius: 100%;
    border: 2px solid currentColor;
    border-top-color: transparent;
    height: 12px;
    width: 12px;
    content: "";
  }
}

:not(button, a, .button).yuzui {
  border: 1px solid currentColor;
  box-shadow: var(--shadow) var(--shadow) currentColor;

  &:not(.flush) {
    transform: translate(calc(-1 * var(--shadow)), calc(-1 * var(--shadow)));
  }

  &:has(:is(input, textarea):only-child) {
    display: inline-block;
  }
}

:not(button, a, .button).yuzui > :is(input, textarea):only-child {
  color: currentColor;
  background: none !important;
  border: none !important;
  outline: none !important;
  width: 100%;
  padding: 6px;
  display: inline-block;
}

.all-flush .yuzui {
  transform: translate(0) !important;
}

.all-flush :is(button, a, .button).yuzui:is(:active, .pressed, .loading) {
  transform: translate(var(--shadow), var(--shadow)) !important;
}

.yuzui-row {
  display: flex;
}

.yuzui-row > *:not(:last-child) {
  margin-right: -1px;
}

.yuzui-row > :is(button, a, .button).yuzui ~ * {
  z-index: 1;
}

.yuzui-row + .yuzui-row {
  margin-top: -1px;
}

div:has:only(> .yuzui) {
  margin-right: -1px;
}

.yuzui-column {
  display: grid;
}

.yuzui-column > * {
  margin-bottom: -1px;
}

.yuzui-column:has(:is(button, a, .button).yuzui) ~ * {
  z-index: 1;
}

.yuzui-row:has(:is(button, a, .button).yuzui) ~ * {
  z-index: 1;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
