*.yuzui {
  --shadow: var(--shadow-size, 4px);

  --panel-color: hsl(var(--yuzui-panel, var(--yuzui-primary)));
  --panel: var(--panel-color, currentColor);

  --background-color: hsl(var(--yuzui-light));
  --text-color: hsl(var(--yuzui-primary));
}

:is(button, a, .button).yuzui {
  background-color: var(--background-color, transparent);
  color: var(--text-color, currentColor);
  border: 1px solid var(--panel);

  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  appearance: none;

  position: relative;

  -webkit-transition-property: box-shadow, transform;
  -webkit-transition-timing-function: linear;
  -webkit-transition-duration: 75ms;
  transition-property: box-shadow, transform;
  transition-timing-function: linear;
  transition-duration: 75ms;

  cursor: pointer;
  opacity: 100%;

  box-shadow: var(--shadow) var(--shadow) var(--panel);
  transform: translate3d(calc(-1 * var(--shadow)), calc(-1 * var(--shadow)), 0);

  &:not(:has(div)) {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 6px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:is(:active, .pressed, .loading) {
    box-shadow: 0px 0px var(--panel);
    transform: translate3d(0, 0, 0);
    opacity: 100%;
  }

  &:is(.loading, .pressed) {
    pointer-events: none;
  }

  &:disabled {
    color: hsl(var(--yuzui-primary) / 0.5);
  }

  &.flush {
    transform: translate3d(0, 0, 0);
  }

  &.flush:is(:active, .pressed, .loading) {
    transform: translate3d(var(--shadow), var(--shadow), 0);
  }

  &.loading::after {
    position: absolute;
    right: 6px;
    animation: spin 1s linear infinite;
    display: inline-block;
    border-radius: 100%;
    border: 2px solid currentColor;
    border-top-color: transparent;
    height: 12px;
    width: 12px;
    content: "";
  }
}

:not(button, a, .button).yuzui {
  border: 1px solid var(--panel);
  box-shadow: var(--shadow) var(--shadow) var(--panel);
  background-color: var(--background-color, transparent);
  color: var(--text-color, currentColor);

  &:not(.flush) {
    transform: translate3d(
      calc(-1 * var(--shadow)),
      calc(-1 * var(--shadow)),
      0
    );
  }

  &:has(:is(input, textarea):only-child) {
    display: inline-block;
  }
}

:not(button, a, .button).yuzui > :is(input, textarea):only-child {
  color: var(--text-color, currentColor);
  background: none !important;
  border: none !important;
  outline: none !important;
  width: 100%;
  padding: 6px;
  display: inline-block;
}

.all-flush .yuzui {
  transform: translate3d(0, 0, 0) !important;
}

.all-flush :is(button, a, .button).yuzui:is(:active, .pressed, .loading) {
  transform: translate3d(var(--shadow), var(--shadow), 0) !important;
}

.yuzui-row {
  display: flex;
}

.yuzui-row > *:not(:last-child) {
  margin-right: -1px;
}

.yuzui-row > :is(button, a, .button).yuzui ~ * {
  z-index: 1;
}

.yuzui-row + .yuzui-row {
  margin-top: -1px;
}

.yuzui-column {
  display: grid;
}

.yuzui-column > *:not(:first-child) {
  margin-top: -1px;
}

.yuzui-column:has(:is(button, a, .button).yuzui) ~ * {
  z-index: 1;
}

.yuzui.yuzui-column:has(> .yuzui) {
  overflow-y: auto;
  border: 0 !important;
  background-color: transparent !important;
}

.yuzui-row:has(:is(button, a, .button).yuzui) ~ * {
  z-index: 1;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
