.yuzui-theme-0 {
  --yuzui-primary: 0 0% 0%;
  --yuzui-light: 0 0% 93%;
  --yuzui-accent: 14 100% 50%;
  --yuzui-panel: 0 0% 0%;
}

.yuzui-theme-1 {
  --yuzui-primary: 50 34% 86%;
  --yuzui-light: 0 0% 17%;
  --yuzui-accent: 0 59% 55%;
  --yuzui-panel: 52 11% 26%;
}

.yuzui-theme-2 {
  --yuzui-primary: 0 0% 100%;
  --yuzui-light: 161 100% 16%;
  --yuzui-accent: 0 67% 69%;
  --yuzui-panel: 158 36% 31%;
}

.yuzui-theme-3 {
  --yuzui-primary: 0 0% 100%;
  --yuzui-light: 0 0% 0%;
  --yuzui-accent: 238 83% 63%;
  --yuzui-panel: 0 0% 15%;
}

.yuzui-theme {
  --primary-color: hsl(var(--yuzui-primary));
  --light-color: hsl(var(--yuzui-light));
  color: var(--primary-color);
  background-color: var(--light-color);
}

.yuzui-theme ::-moz-selection {
  --accent-color: hsl(var(--yuzui-accent));
  --light-color: hsl(var(--yuzui-light));
  color: var(--light-color);
  background-color: var(--accent-color);
}

.yuzui-theme ::selection {
  --accent-color: hsl(var(--yuzui-accent));
  --light-color: hsl(var(--yuzui-light));
  color: var(--light-color);
  background-color: var(--accent-color);
}

.yuzui-theme *,
.yuzui-theme :before,
.yuzui-theme :after {
  --panel-color: hsl(var(--yuzui-panel));
  --light-text-color: hsl(var(--yuzui-primary) / 0.1);
  border-color: var(--panel-color, var(--light-text-color));
}

.yuzui-fadein {
  animation-name: yuzui-fadein;
  animation-duration: 0.55s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-fill-mode: none;
}

@keyframes yuzui-fadein {
  0% {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }

  100% {
    opacity: 100;
    transform: translate3d(0, 0, 0);
  }
}
