[data-tooltip] {
  --text-color: hsl(var(--yuzui-primary));
  --background-color: hsl(var(--yuzui-light));
}

.yuzui-tooltip-trigger:hover [data-tooltip],
[data-tooltip]:hover {
  position: relative;
}

.yuzui-tooltip-trigger:hover [data-tooltip]::before,
[data-tooltip]:hover::before {
  text-decoration: none;
  background: var(--text-color, black);
  color: var(--background-color, white);
  font-size: 12px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  content: attr(data-tooltip);
  z-index: 10;
  min-width: 0;
  max-width: 150px;
  white-space: pre-line;
  width: max-content;
  padding: 8px 6px;
}

.yuzui-tooltip-trigger:hover [data-tooltip]::after,
[data-tooltip]:hover::after {
  pointer-events: none;
  position: absolute;
  z-index: 99999;
  font-size: 10px;
  color: var(--text-color, black);
}

.yuzui-tooltip-trigger:hover [data-tooltip]::before,
.yuzui-tooltip-trigger:hover .top[data-tooltip]::before,
[data-tooltip]:hover::before,
.top[data-tooltip]:hover::before {
  top: -12px;
  left: 50%;
  bottom: auto;
  animation: tooltip-fade-in 0.2s cubic-bezier(0.4, 0, 0.2, 1) both;
}

.yuzui-tooltip-trigger:hover [data-tooltip]::after,
.yuzui-tooltip-trigger:hover .top[data-tooltip]::after,
[data-tooltip]:hover::after,
.top[data-tooltip]:hover::after {
  top: -5px;
  left: 50%;
  bottom: auto;
  content: "";
  animation: tooltip-fade-in 0.2s cubic-bezier(0.4, 0, 0.2, 1) both;

  width: 8px;
  border-top: 8px solid currentColor;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: none;
  box-sizing: border-box;
}

.yuzui-tooltip-trigger:hover .bottom[data-tooltip]::before,
.bottom[data-tooltip]:hover::before {
  bottom: -12px;
  left: 50%;
  top: auto;
  animation: tooltip-fade-in-down 0.2s cubic-bezier(0.4, 0, 0.2, 1) both;
}

.yuzui-tooltip-trigger:hover .bottom[data-tooltip]::after,
.bottom[data-tooltip]:hover::after {
  bottom: -5px;
  left: 50%;
  top: auto;
  content: "";
  animation: tooltip-fade-in-down 0.2s cubic-bezier(0.4, 0, 0.2, 1) both;

  width: 8px;
  border-bottom: 8px solid currentColor;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: none;
  box-sizing: border-box;
}

.yuzui-tooltip-trigger:hover .left[data-tooltip]::before,
.left[data-tooltip]:hover::before {
  left: -12px;
  top: 50%;
  animation: tooltip-fade-in-left 0.2s cubic-bezier(0.4, 0, 0.2, 1) both;
}

.yuzui-tooltip-trigger:hover .left[data-tooltip]::after,
.left[data-tooltip]:hover::after {
  left: -4px;
  top: 50%;
  content: "";
  animation: tooltip-fade-in-left 0.2s cubic-bezier(0.4, 0, 0.2, 1) both;

  height: 8px;
  border-left: 8px solid currentColor;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-right: none;
  box-sizing: border-box;
}

.yuzui-tooltip-trigger:hover .right[data-tooltip]::before,
.right[data-tooltip]:hover::before {
  right: -12px;
  left: auto;
  top: 50%;
  animation: tooltip-fade-in-right 0.2s cubic-bezier(0.4, 0, 0.2, 1) both;
}

.yuzui-tooltip-trigger:hover .after[data-tooltip]::before,
.right[data-tooltip]:hover::after {
  right: -4px;
  left: auto;
  top: 50%;
  animation: tooltip-fade-in-right 0.2s cubic-bezier(0.4, 0, 0.2, 1) both;

  height: 8px;
  border-right: 8px solid currentColor;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left: none;
  box-sizing: border-box;
}

@keyframes tooltip-fade-in {
  0% {
    opacity: 0;
    transform: translate3d(-50%, calc(-100% + 10px), 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(-50%, -100%, 0);
  }
}

@keyframes tooltip-fade-in-down {
  0% {
    opacity: 0;
    transform: translate3d(-50%, calc(100% - 10px), 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(-50%, 100%, 0);
  }
}

@keyframes tooltip-fade-in-left {
  0% {
    opacity: 0;
    transform: translate3d(calc(-100% + 10px), -50%, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(-100%, -50%, 0);
  }
}

@keyframes tooltip-fade-in-right {
  0% {
    opacity: 0;
    transform: translate3d(calc(100% - 10px), -50%, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(100%, -50%, 0);
  }
}
